img{
    max-width: 50px;
    max-height: 50px;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    border-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}