<!-- Fixed Plugin configurator, used just for Demo Purpose -->
<div class="fixed-plugin">
    <div class="dropdown show-dropdown">
        <a href="#" data-toggle="dropdown" aria-expanded="true" id="bt-fixed-plugin">
            <i class="fa fa-cog fa-2x"> </i>
        </a>
        <ul class="dropdown-menu">
            <li class="header-title">Operations</li>
            <li class="adjustments-line">
                <button mat-raised-button mat-min-fab class="btn btn-danger btn-round btn-fab btn-sm" title="Clear all and create a new map" id="bt-new-map">
                    <i class="material-icons">clear</i>
                </button>
                <button mat-raised-button mat-min-fab class="btn btn-success btn-round btn-fab btn-sm" title="Save as new map" id="bt-save">
                    <i class="material-icons">save</i>
                </button><!--
                <button mat-raised-button mat-min-fab class="btn btn-warning btn-round btn-fab btn-sm" title="Create a new version of this map" id="bt-version" [disabled]="!mapService.getCurrentMap()">
                    <i class="material-icons">call_split</i>
                </button>-->
                <button mat-raised-button mat-min-fab class="btn btn-info btn-round btn-fab btn-sm" title="Search disease" id="bt-search">
                    <i class="material-icons">favorite</i>
                </button>
                <button mat-raised-button mat-min-fab class="btn btn-success btn-round btn-fab btn-sm" title="Search disease green" id="bt-search-green">
                    <i class="material-icons">search</i>
                </button>
                <button mat-raised-button mat-min-fab class="btn btn-primary mb1 bg-purple btn-round btn-fab btn-sm" title="Search disease purple" id="bt-search-purple">
                    <i class="material-icons">search</i>
                </button>                                                
            </li>
            <li class="header-title">Advanced Operations</li>
            <li class="adjustments-line">
                <!-- <button mat-raised-button mat-min-fab class="btn btn-info btn-round btn-fab btn-sm" title="Check map inconsistencies" id="bt-realtime">
                    <i onclick="javascript:void(0)" class="material-icons">sync</i>
                </button> --> 
                <!--RETIREI OS BOTOES DOS CARAS DO TCC ANTIGO<button mat-raised-button mat-min-fab class="btn btn-info btn-round btn-fab btn-sm" title="Check map inconsistencies" id="bt-check-map">
                    <i onclick="javascript:void(0)" class="material-icons">spellcheck</i>
                </button>
                <button mat-raised-button mat-min-fab class="btn btn-primary btn-round btn-fab btn-sm" title="Speech2Map" id="bt-speech2map-map">
                    <i onclick="javascript:void(0)" class="material-icons">mic</i>
                </button>-->
            </li>
            <li class="header-title">Colors</li>
            <li class="adjustments-line no-line">
                <button type="button" mat-raised-button mat-min-fab class="btn btn-default btn-round btn-fab btn-sm color-change" title="Font color" id="bt-font">
                    <i class="material-icons">format_color_text</i>
                </button>
                <button mat-raised-button mat-min-fab class="btn btn-default btn-round btn-fab btn-sm color-change" title="Border/Line color" id="bt-stroke">
                    <i class="material-icons">border_color</i>
                </button>
                <button mat-raised-button mat-min-fab class="btn btn-default btn-round btn-fab btn-sm color-change" title="Background-Color" id="bt-background">
                    <i class="material-icons">format_color_fill</i>
                </button>
            </li>
            <li class="adjustments-line color-picker">
                <a href="javascript:void(0)" class="switch-trigger" id="a-color-picker">
                  <div class="ml-auto mr-auto">
                    <span class="badge filter badge-green" data-color="#4caf50"></span>
                    <span class="badge filter badge-danger" data-color="#f44336"></span>
                    <span class="badge filter badge-purple" data-color="#9c27b0"></span>
                    <span class="badge filter badge-white" data-color="white"></span>
                    <span class="badge filter badge-grey" data-color="#bcbcbc"></span>
                    <span class="badge filter badge-black" data-color="black"></span>
                    <span class="badge filter badge-rose" data-color="#e91e63"></span>
                    <span class="badge filter badge-orange" data-color="#ff9800"></span>
                    <span class="badge filter badge-azure" data-color="#00bcd4"></span> <!--add active class to set active badger-->
                    <!--<span class="badge filter badge-rose2" data-color="#E285A1" data-color2="#e91e63"></span>
                    <span class="badge filter badge-danger2" data-color="#F2938C" data-color2="#f44336"></span>
                    <span class="badge filter badge-orange2" data-color="#FFD08E" data-color2="#ff9800"></span>
                    <span class="badge filter badge-purple2" data-color="#A87CAF" data-color2="#9c27b0"></span>
                    <span class="badge filter badge-green2" data-color="#B0F4BB" data-color2="#4caf50"></span>
                    <span class="badge filter badge-azure2" data-color="#93F2FF" data-color2="#00bcd4"></span> 
                    <span class="badge filter badge-white2" data-color="#FCFCFC" data-color2="#C8C8C8"></span>
                    <span class="badge filter badge-grey2" data-color="#E5E5E5" data-color2="#bcbcbc"></span>
                    <span class="badge filter badge-black2" data-color="#727272" data-color2="#000"></span>-->
                    <!--add active class to set active badger-->
                  </div>
                    <div class="clearfix"></div>
                </a>
            </li>
            <li class="header-title">More Info...</li>
            <li class="adjustments-line more-info">
                <div class="row">
                    <div class="col-md-12">
                        <textarea class="form-control" placeholder="Attach information about this element..." rows="4" id="info-textarea"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button mat-raised-button mat-min-fab class="btn btn-success btn-round btn-fab btn-sm" title="Save this info..." id="bt-save-info">
                            <i class="material-icons">done</i>
                        </button>
                        <button mat-raised-button mat-min-fab class="btn btn-danger btn-round btn-fab btn-sm" title="Discard this info..." id="bt-discard-info">
                            <i class="material-icons">delete_forever</i>
                        </button>
                    </div>
                </div>
            </li>
            <li class="header-title">Realtime edition</li>
            <li class="adjustments-line realtime">
              <a href="javascript:void(0)" class="switch-trigger">
                  <p>Activate realtime</p>
                  <label class="ml-auto">
                    <div class="togglebutton switch-realtime">
                      <label>
                          <input type="checkbox">
                              <span class="toggle"></span>
                      </label>
                    </div>
                  </label>
                  <div class="clearfix"></div>
                  <div class="ripple-container"></div>
              </a>
                <div class="row">
                    <div class="col-md-9">
                        <p *ngIf="isEnabled" class="realtime-link" id="realtime-link"></p>
                    </div>
                    <div class="col-md-3">
                        <button *ngIf="isEnabled" type="button" mat-raised-button mat-min-fab class="btn btn-primary btn-round btn-fab btn-sm" title="Copy shareable link" (click)="copyLink()">
                            <i class="material-icons">file_copy</i>
                        </button>
                    </div>                   
                </div>  
            
            </li>
            <!-- <li class="adjustments-line">
              <a href="javascript:void(0)" class="switch-trigger">
                  <p>Sidebar Images</p>
                  <label class="switch-mini ml-auto">
                    <div class="togglebutton switch-sidebar-image">
                      <label>
                          <input type="checkbox" checked="">
                            <span class="toggle"></span>
                      </label>
                    </div>
                  </label>
                  <div class="clearfix"></div>
                  <div class="ripple-container"></div>
              </a>
            </li>
            <li class="header-title">Images</li>
            <li class="active">
                <a class="img-holder switch-trigger" href="javascript:void(0)">
                    <img src="./assets/img/sidebar-1.jpg" alt="" />
                </a>
            </li>
            <li>
                <a class="img-holder switch-trigger" href="javascript:void(0)">
                    <img src="./assets/img/sidebar-2.jpg" alt="" />
                </a>
            </li>
            <li>
                <a class="img-holder switch-trigger" href="javascript:void(0)">
                    <img src="./assets/img/sidebar-3.jpg" alt="" />
                </a>
            </li>
            <li>
                <a class="img-holder switch-trigger" href="javascript:void(0)">
                    <img src="./assets/img/sidebar-4.jpg" alt="" />
                </a>
            </li> -->
            
        </ul>
    </div>
</div>
