<div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <form [formGroup]="type" class="form-horizontal">
                          <div class="card-header card-header-success card-header-icon">
                              <div class="card-icon" style="margin-top: -35px">
                                  <i class="material-icons">person_add</i>
                                </div>
                                <h4 class="card-title">Add New User</h4>
                          </div>
                            <div class="card-body">
                                <div class="row">
                                  <label class="col-sm-2 col-form-label">First Name: </label>
                                    <div class="col-sm-3">
                                      <mat-form-field class="example-full-width has-label" [ngClass]="{'has-success':validTextType===true}" [ngClass]="displayFieldCss(type, 'text')">
                                        <input type="text"
                                        matInput
                                        id="firstname"
                                        (ngModelChange)="textValidationType($event)"
                                        formControlName="firstname">
                                        <app-field-error-display [displayError]="isFieldValid(type, 'firstname')" errorMsg="Required text">
                                        </app-field-error-display>
                                      </mat-form-field>
                                    </div>
                                    <label class="col-sm-1 col-form-label">Surname: </label>
                                      <div class="col-sm-5">
                                        <mat-form-field class="example-full-width has-label" [ngClass]="{'has-success':validTextType===true}" [ngClass]="displayFieldCss(type, 'text')">
                                          <input type="text"
                                          matInput
                                          id="surname"
                                          (ngModelChange)="textValidationType($event)"
                                          formControlName="surname">
                                          <app-field-error-display [displayError]="isFieldValid(type, 'surname')" errorMsg="Required text">
                                          </app-field-error-display>
                                        </mat-form-field>
                                      </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-2 col-form-label">Username: </label>
                                    <div class="col-sm-3">
                                      <mat-form-field class="example-full-width has-label" [ngClass]="{'has-success':validTextType===true}" [ngClass]="displayFieldCss(type, 'text')">
                                        <input type="text"
                                        matInput
                                        id="username"
                                        (ngModelChange)="textValidationType($event)"
                                        formControlName="username">
                                        <app-field-error-display [displayError]="isFieldValid(type, 'username')" errorMsg="Required text">
                                        </app-field-error-display>
                                      </mat-form-field>
                                    </div>
    
                                    <label class="col-sm-1 col-form-label">Email:</label>
    
                                    <div class="col-sm-5">
                                      <mat-form-field class="example-full-width has-label" [ngClass]="{'has-success':validEmailType===true}">
                                         <input
                                         type="email"
                                         matInput
                                         [errorStateMatcher]="matcher"
                                         (ngModelChange)="emailValidationType($event)"
                                         formControlName="email">
                                         <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                                           Please enter a valid email address
                                         </mat-error>
                                         <mat-error *ngIf="emailFormControl.hasError('required')">
                                           Email is <strong>required</strong>
                                         </mat-error>
                                       </mat-form-field>
                                    </div>
                                    
                                </div>
                                <div class="row">
    
                                    <label class="col-sm-2 col-form-label">Password: </label>
                                    <div class="col-sm-3">
                                      <mat-form-field class="example-full-width" [ngClass]="{'has-success':validSourceType===true}" [ngClass]="displayFieldCss(type, 'password')">
                                        <input type="password"
                                        matInput
                                          name="password"
                                          (ngModelChange)="sourceValidationType($event)"
                                        formControlName="password">
                                        <app-field-error-display [displayError]="isFieldValid(type, 'password')" errorMsg="IdSource is required">
                                        </app-field-error-display>
                                      </mat-form-field>
                                    </div>
                                    <label class="col-sm-1 col-form-label">Repeate: </label>
                                    <div class="col-sm-3">
                                      <mat-form-field class="example-full-width" [ngClass]="{'has-success':validDestinationType===true}" [ngClass]="displayFieldCss(type, 'confirmPassword')">
                                        <input type="password"
                                        matInput
                                        name="repeated"
                                        (ngModelChange)="confirmDestinationValidationType($event)"
                                        formControlName="confirmPassword">
                                        <app-field-error-display [displayError]="isFieldValid(type, 'confirmPassword')" errorMsg=" Password mismatch!">
                                        </app-field-error-display>
                                      </mat-form-field>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="card-footer">
                              <div class="col-md-6">
                                <button mat-raised-button type="submit" class="btn btn-success btn-fill" (click)="onType()">
                                    <span class="btn-label">
                                        <i class="material-icons">check</i>
                                    </span>
                                    Register
                                </button>
                                <button mat-raised-button class="btn btn-danger" (click)="back()">
                                    <span class="btn-label">
                                      <i class="material-icons">keyboard_arrow_left</i>
                                    </span>
                                    Back
                                  </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
        </div>
    </div>
    