<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-icon card-header-rose">
            <div class="card-icon">
              <i class="material-icons">perm_identity</i>
            </div>
            <h4 class="card-title">Edit Profile -
              <small class="category">Your profile informations</small>
            </h4>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="bmd-label-floating">Username (uneditable)</label>
                    <input type="text" class="form-control" value="{{editUser.username}}" disabled>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="form-group">
                    <label class="bmd-label-floating">E-Mail</label>
                    <input type="email" class="form-control" value="{{editUser.email}}" [disabled]="!editing" #email (blur)='editUser.email = email.value'>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="bmd-label-floating">Registered at</label>
                    <input type="text" class="form-control" value="{{editUser.created | date:'medium'}}" disabled>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="bmd-label-floating">First Name</label>
                    <input type="text" class="form-control" value="{{editUser.firstname}}" [disabled]="!editing" #firstname (blur)='editUser.firstname = firstname.value'>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="form-group">
                    <label class="bmd-label-floating">Surname</label>
                    <input type="text" class="form-control" value="{{editUser.surname}}" [disabled]="!editing" #surname (blur)='editUser.surname = surname.value'>
                  </div>
                </div>  
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="bmd-label-floating">Country</label>
                    <input type="text" class="form-control" value="{{editUser.locInfo.country}}" [disabled]="!editing" #country (blur)='editUser.locInfo.country = country.value'>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="bmd-label-floating">Region / State</label>
                    <input type="text" class="form-control" value="{{editUser.locInfo.regionName}}" [disabled]="!editing" #region (blur)='editUser.locInfo.regionName = region.value'>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="bmd-label-floating">City</label>
                    <input type="text" class="form-control" value="{{editUser.locInfo.city}}" [disabled]="!editing" #city (blur)='editUser.locInfo.city = city.value'>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>About Me</label>
                    <div class="form-group">
                      <textarea class="form-control" rows="5" [disabled]="!editing" [(ngModel)]="editUser.description" name="description"></textarea>
                    </div>
                  </div>
                </div>
              </div>
              <button mat-raised-button type="submit" class="btn btn-rose pull-right" (click)="edit()">{{editing?'Send':'Edit'}}</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <div class="picture">
              <img src="{{user.profile_picture}}" class="picture-src" id="wizardPicturePreview" title="" />
              <input type="file" id="wizard-picture" #wizardPicture title="Click to change your profile picture">
            </div>
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">{{user.username}} </h6>
            <h4 class="card-title">{{user.firstname + ' ' + user.surname}}</h4>
            <p class="card-description">
              {{user.description}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
